<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Flask App</title>
    </head>
    <body>
        <div class = "container">
            <!--Form Section-->
            <h1>Enter Weather Information</h1>
            <form id = "weather_form" method="POST">
                <div>
                    <label for="city">City</label>
                    <input type="text" id="city" name="city">
                </div>

                <div>
                    <label for="state">State</label>
                    <input type="text" id="state" name="state">
                </div>

                <div>
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country">
                </div>
                <button type="submit">Submit</button>
            </form>

            <!--Error Msg Section-->
            <p id="error"></p>

        </div>
        <script src="../static/script.js"></script>
    </body>
</html>
